[Unit]
Description=PM process manager
After=network.target

[Service]
Type=forking
User=rprtr258
Group=rprtr258
ExecStart=/usr/bin/pm startup

[Install]
WantedBy=multi-user.target