[Unit]
Description=PM process manager
After=network.target

[Service]
Type=simple
User=rprtr258
ExecStart=/usr/bin/pm startup
Restart=on-failure

[Install]
WantedBy=multi-user.target