# mani #
process-compose
spm
houseman
crank
shoreman
proclet
honcho
gaffer
node-foreman
forego
bluepill
porter
foreman
spinal
qup
goforever
pmon2
tsusu
supervisor
supervisord
runsit
pst
procs
pmgo
pm
overseer
overmind
immortal
hivemind
gowl
goreman
godpm
exo
cmd
apm
pm2
# mani #
zig/
odin/
