/* theme-simple CSS */
:root {
    --base-font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    --base-font-size: 1.125rem;
    --base-font-weight: normal;

    --base-background-color: #fff;
    --base-color: var(--mono-shade2);
    --base-line-height: 1.6;

    --heading-margin: 2.5rem 0 0;
    --heading-color: var(--mono-shade3);
    --heading-font-weight: var(--strong-font-weight);
    --heading-h2-padding: 0 0 0.75rem 0;
    --heading-h2-border-color: var(--mono-tint2);
    --heading-h2-border-width: 0 0 1px 0;
    --heading-h1-margin: 1rem 0rem -0.5rem 0rem;
    --heading-h2-margin: 2.5rem 0 1rem;
    --heading-h3-margin: 1rem 0rem -.5rem 0rem;
    --heading-h4-margin: 1rem 0rem -.5rem 0rem;
    --heading-h5-margin: 1rem 0rem -.5rem 0rem;
    --heading-h6-margin: 1rem 0rem 0rem 0rem;
    --heading-h1-font-size: var(--font-size-xxl);
    --heading-h2-font-size: var(--font-size-xl);
    --heading-h3-font-size: var(--font-size-l);
    --heading-h4-font-size: var(--font-size-m);
    --heading-h5-font-size: var(--font-size-s);
    --heading-h6-font-size: var(--font-size-xs);
    --heading-h1-border-style: solid;
    --heading-h2-border-style: solid;
    --heading-h3-border-style: solid;
    --heading-h4-border-style: solid;
    --heading-h5-border-style: solid;
    --heading-h6-border-style: solid;

    --navbar-root-color--active: #0374B5;
    --navbar-root-margin: 0 0 0 .8em;

    --sidebar-name-color: #0374B5;
    --sidebar-nav-link-color--active: #0374B5;
    --sidebar-nav-link-border-color--active: #0374B5;
    --sidebar-nav-link-font-weight--active: bold;

    --link-color: #0374B5;

    box-sizing: border-box;
    background-color: var(--base-background-color);
    font-size: var(--base-font-size);
    font-weight: var(--base-font-weight);
    line-height: var(--base-line-height);
    letter-spacing: var(--base-letter-spacing);
    color: var(--base-color);

    --mono-hue: 113;
    --mono-saturation: 0%;
    --mono-shade3: hsl(var(--mono-hue), var(--mono-saturation), 20%);
    --mono-shade2: hsl(var(--mono-hue), var(--mono-saturation), 30%);
    --mono-shade1: hsl(var(--mono-hue), var(--mono-saturation), 40%);
    --mono-base: hsl(var(--mono-hue), var(--mono-saturation), 50%);
    --mono-tint1: hsl(var(--mono-hue), var(--mono-saturation), 70%);
    --mono-tint2: hsl(var(--mono-hue), var(--mono-saturation), 89%);
    --mono-tint3: hsl(var(--mono-hue), var(--mono-saturation), 97%);
    --theme-color: hsl(204, 90%, 45%);
    --modular-scale: 1.333;
    --modular-scale--2: calc(var(--modular-scale--1) / var(--modular-scale));
    --modular-scale--1: calc(var(--modular-scale-1) / var(--modular-scale));
    --modular-scale-1:  1rem;
    --modular-scale-2:  calc(var(--modular-scale-1) * var(--modular-scale));
    --modular-scale-3:  calc(var(--modular-scale-2) * var(--modular-scale));
    --modular-scale-4:  calc(var(--modular-scale-3) * var(--modular-scale));
    --modular-scale-5:  calc(var(--modular-scale-4) * var(--modular-scale));
    --font-size-xxl: var(--modular-scale-4);
    --font-size-xl:  var(--modular-scale-3);
    --font-size-l:   var(--modular-scale-2);
    --font-size-m:   var(--modular-scale-1);
    --font-size-s:   var(--modular-scale--1);
    --font-size-xs:  var(--modular-scale--2);

    --hr-border: 1px solid var(--mono-tint2);
    --mark-background: #ffecb3;
    --pre-font-family: var(--code-font-family);
    --pre-font-size: var(--code-font-size);
    --pre-font-weight: normal;
    --selection-color: #b4d5fe;
    --small-font-size: var(--font-size-s);
    --strong-color: var(--heading-color);
    --strong-font-weight: 600;
    --subsup-font-size: var(--font-size-s);

    --content-max-width: 90%;
    --code-font-family: Inconsolata, Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    --code-font-size: calc(var(--font-size-m) * 0.95);
    --code-font-weight: normal;
    --code-tab-size: 4;
    --code-block-border-radius: var(--border-radius-m);
    --code-block-margin: 1em 0;
    --code-inline-background: var(--code-theme-background);
    --code-inline-border-radius: var(--border-radius-s);
    --code-inline-color: var(--code-theme-text);
    --code-inline-margin: 0 0.15em;
    --code-inline-padding: 0.125em 0.4em;
    --code-theme-background: var(--mono-tint3);
    --link-text-decoration: underline;

    --navbar-root-border-style: solid;
    --navbar-root-margin: 0 0 0 1.5em;
    --navbar-menu-background: var(--base-background-color);
    --navbar-menu-border-radius: var(--border-radius-m);
    --navbar-menu-box-shadow: rgba(45, 45, 45, 0.05) 0px 0px 1px, rgba(49, 49, 49, 0.05) 0px 1px 2px, rgba(42, 42, 42, 0.05) 0px 2px 4px, rgba(32, 32, 32, 0.05) 0px 4px 8px, rgba(49, 49, 49, 0.05) 0px 8px 16px, rgba(35, 35, 35, 0.05) 0px 16px 32px;
    --navbar-menu-padding: 0.5em;
    --navbar-menu-link-border-style: solid;
    --navbar-menu-link-margin: 0.75em 0.5em;
    --navbar-menu-link-padding: 0.2em 0;

    --copycode-background: #808080;
    --copycode-color: #fff;

    --sidebar-background: var(--base-background-color);
    --sidebar-border-width: 0;
    --sidebar-padding: 0 25px;
    --sidebar-width: 17rem;
    --sidebar-name-font-size: var(--font-size-l);
    --sidebar-name-font-weight: normal;
    --sidebar-name-margin: 1.5rem 0 0;
    --sidebar-name-text-align: center;
    --sidebar-nav-strong-border-color: var(--sidebar-border-color);
    --sidebar-nav-strong-color: var(--heading-color);
    --sidebar-nav-strong-font-weight: var(--strong-font-weight);
    --sidebar-nav-strong-margin: 1.5em 0 0.5em;
    --sidebar-nav-strong-padding: 0.25em 0;
    --sidebar-nav-indent: 1em;
    --sidebar-nav-margin: 1.5rem 0 0;
    --sidebar-nav-link-border-style: solid;
    --sidebar-nav-link-border-width: 0;
    --sidebar-nav-link-color: var(--base-color);
    --sidebar-nav-link-font-weight: normal;
    --sidebar-nav-link-padding: 0.25em 0;
    --sidebar-nav-link-text-decoration--active: underline;
    --sidebar-nav-link-text-decoration--hover: underline;
    --sidebar-nav-link-before-margin: 0 0.35em 0 0;

    --code-theme-background: #f3f3f3;
    --code-theme-comment: #6e8090;
    --code-theme-function: #dd4a68;
    --code-theme-keyword: #07a;
    --code-theme-operator: #a67f59;
    --code-theme-punctuation: #999;
    --code-theme-selector: #690;
    --code-theme-tag: #905;
    --code-theme-text: #333;
    --code-theme-variable: #e90;

    --border-radius-s: 2px;
    --border-radius-m: 4px;
    --border-radius-l: 8px;
    --strong-font-weight: 600;
    --code-inline-background: var(--mono-tint2);
    --code-theme-background: var(--mono-tint3);

    --navbar-root-color--active: var(--theme-color);
    --navbar-menu-border-radius: var(--border-radius-m);
    --navbar-menu-root-background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9.6' height='6' viewBox='0 0 9.6 6'%3E%3Cpath d='M1.5 1.5l3.3 3 3.3-3' stroke-width='1.5' stroke='rgb%28179, 179, 179%29' fill='none' stroke-linecap='square' stroke-linejoin='miter' vector-effect='non-scaling-stroke'/%3E%3C/svg%3E") right no-repeat;
    --navbar-menu-root-padding: 0 18px 0 0;

    --sidebar-background: var(--mono-tint3);
    --sidebar-border-color: var(--mono-tint2);
    --sidebar-border-width: 0 1px 0 0;
    --sidebar-name-color: var(--theme-color);
    --sidebar-name-font-weight: 300;
    --sidebar-nav-strong-border-width: 0 0 1px 0;
    --sidebar-nav-strong-font-size: smaller;
    --sidebar-nav-strong-margin: 2em -25px 0.75em 0;
    --sidebar-nav-strong-padding: 0.25em 0 0.75em 0;
    --sidebar-nav-strong-text-transform: uppercase;
    --sidebar-nav-link-border-color: transparent;
    --sidebar-nav-link-border-color--active: var(--theme-color);
    --sidebar-nav-link-border-width: 0 4px 0 0;
    --sidebar-nav-link-color--active: var(--theme-color);
    --sidebar-nav-link-margin: 0 -25px 0 0;
    --sidebar-nav-link-text-decoration: none;
    --sidebar-nav-link-text-decoration--active: none;
    --sidebar-nav-link-text-decoration--hover: underline;
    --sidebar-nav-pagelink-background: no-repeat 2px calc(50% - 2.5px) / 6px 5px linear-gradient(45deg, transparent 2.75px, var(--mono-tint1) 2.75px 4.25px, transparent 4px), no-repeat 2px calc(50% + 2.5px) / 6px 5px linear-gradient(135deg, transparent 2.75px, var(--mono-tint1) 2.75px 4.25px, transparent 4px);
    --sidebar-nav-pagelink-background--active: no-repeat 0px center / 5px 6px linear-gradient(225deg, transparent 2.75px, var(--theme-color) 2.75px 4.25px, transparent 4.25px), no-repeat 5px center / 5px 6px linear-gradient(135deg, transparent 2.75px, var(--theme-color) 2.75px 4.25px, transparent 4.25px);
    --sidebar-nav-pagelink-background--collapse: no-repeat 2px calc(50% - 2.5px) / 6px 5px linear-gradient(45deg, transparent 2.75px, var(--theme-color) 2.75px 4.25px, transparent 4px), no-repeat 2px calc(50% + 2.5px) / 6px 5px linear-gradient(135deg, transparent 2.75px, var(--theme-color) 2.75px 4.25px, transparent 4px);
    --sidebar-nav-pagelink-background--loaded: no-repeat 0px center / 5px 6px linear-gradient(225deg, transparent 2.75px, var(--mono-tint1) 2.75px 4.25px, transparent 4.25px), no-repeat 5px center / 5px 6px linear-gradient(135deg, transparent 2.75px, var(--mono-tint1) 2.75px 4.25px, transparent 4.25px);
    --sidebar-nav-pagelink-padding: 0.25em 0 0.25em 20px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    font-size: inherit;
}

html {
    font-family: var(--base-font-family);
}

a {
    text-decoration: none;
    text-decoration-skip-ink: auto;
}

hr {
    height: 0;
    margin: 2em 0;
    border: none;
    border-bottom: var(--hr-border, 0);
}

main {
    display: block;
    position: relative;
    overflow-x: hidden;
    min-height: 100vh;
}

pre {
    font-family: var(--pre-font-family);
    font-size: var(--pre-font-size);
    font-weight: var(--pre-font-weight);
    line-height: var(--pre-line-height);
}

body * {
    scrollbar-color: hsla(var(--mono-hue), var(--mono-saturation), 50%, 0.3) hsla(var(--mono-hue), var(--mono-saturation), 50%, 0.1);
    scrollbar-width: thin;
}

::selection {
    background: var(--selection-color);
}

.markdown-section {
    position: relative;
    max-width: var(--content-max-width);
    margin: 0 auto;
}

.markdown-section code,
.markdown-section pre {
    border-radius: var(--code-block-border-radius);
    font-family: var(--code-font-family);
    font-size: var(--code-font-size);
    font-weight: var(--code-font-weight);
    letter-spacing: normal;
    line-height: 1.2em;
    tab-size: var(--code-tab-size);
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-wrap: normal;
    word-break: normal;
    hyphens: none;
    position: relative;
    margin: var(--code-block-margin);
    padding: 0;
}
.markdown-section pre[data-lang]::after {
    content: attr(data-lang);
    position: absolute;
    top: .75em;
    right: .75em;
    opacity: .6;
    color: inherit;
    font-size: var(--font-size-s);
    line-height: 1;
}
.markdown-section pre code {
    display: block;
    overflow: auto;
    padding: 0.5em 1em;
    word-break: break-all!important;
}
code[class*=lang-], pre[data-lang] {
    color: var(--code-theme-text);
}
pre[data-lang]::selection,
pre[data-lang] ::selection,
code[class*=lang-]::selection,
code[class*=lang-] ::selection {
    background: var(--code-theme-selection, var(--selection-color));
}
.markdown-section code {
    font-family: var(--code-font-family);
    font-size: var(--code-font-size);
    font-weight: var(--code-font-weight);
    white-space: pre-wrap!important;
    overflow-wrap: anywhere;
}
.markdown-section code:not([class*=lang-]):not([class*=language-]) {
    margin: var(--code-inline-margin);
    padding: var(--code-inline-padding);
    border-radius: var(--code-inline-border-radius);
    background: var(--code-inline-background);
    color: var(--code-inline-color, currentColor);
    white-space: nowrap;
}

.markdown-section p,
.markdown-section ol,
.markdown-section ul {
    margin: 1em 0;
}

.markdown-section ol,
.markdown-section ul {
    padding-left: 1.5rem;
}

.markdown-section ol ol,
.markdown-section ol ul,
.markdown-section ul ol,
.markdown-section ul ul {
    margin-top: .15rem;
    margin-bottom: .15rem;
}

.markdown-section a {
    overflow-wrap: anywhere;
    border-bottom: var(--link-border-bottom);
    color: var(--link-color);
    text-decoration: var(--link-text-decoration);
    text-decoration-color: var(--link-text-decoration-color);
}
.markdown-section a:hover {
    border-bottom: var(--link-border-bottom--hover, var(--link-border-bottom, 0));
    color: var(--link-color--hover, var(--link-color));
    text-decoration: var(--link-text-decoration--hover, var(--link-text-decoration));
    text-decoration-color: var(--link-text-decoration-color--hover, var(--link-text-decoration-color));
}

.markdown-section a.anchor {
    border-bottom: 0;
    color: inherit;
    text-decoration: none;
}
.markdown-section a.anchor:hover {
    text-decoration: underline;
}

.markdown-section h1:first-child,
.markdown-section h2:first-child,
.markdown-section h3:first-child,
.markdown-section h4:first-child,
.markdown-section h5:first-child,
.markdown-section h6:first-child {
    margin-top: 0;
}

.markdown-section h1 a,
.markdown-section h2 a,
.markdown-section h3 a,
.markdown-section h4 a,
.markdown-section h5 a,
.markdown-section h6 a {
    display: inline-block;
}

.markdown-section h1 code,
.markdown-section h2 code,
.markdown-section h3 code,
.markdown-section h4 code,
.markdown-section h5 code,
.markdown-section h6 code {
    font-size: .875em;
}

.markdown-section h1+h2,
.markdown-section h1+h3,
.markdown-section h1+h4,
.markdown-section h1+h5,
.markdown-section h1+h6,
.markdown-section h2+h3,
.markdown-section h2+h4,
.markdown-section h2+h5,
.markdown-section h2+h6,
.markdown-section h3+h4,
.markdown-section h3+h5,
.markdown-section h3+h6,
.markdown-section h4+h5,
.markdown-section h4+h6,
.markdown-section h5+h6 {
    margin-top: 1rem;
}

.markdown-section h1 {
    margin: var(--heading-h1-margin, var(--heading-margin));
    padding: var(--heading-h1-padding, var(--heading-padding));
    border-width: var(--heading-h1-border-width, 0);
    border-style: var(--heading-h1-border-style);
    border-color: var(--heading-h1-border-color);
    font-family: var(--heading-h1-font-family, var(--heading-font-family));
    font-size: var(--heading-h1-font-size);
    font-weight: 400;
    line-height: var(--base-line-height);
    color: var(--heading-h1-color, var(--heading-color));
    line-height: 4.00rem;
}

.markdown-section h2 {
    margin: var(--heading-h2-margin, var(--heading-margin));
    padding: var(--heading-h2-padding, var(--heading-padding));
    border-width: var(--heading-h2-border-width, 0);
    border-style: var(--heading-h2-border-style);
    border-color: var(--heading-h2-border-color);
    font-family: var(--heading-h2-font-family, var(--heading-font-family));
    font-size: var(--heading-h2-font-size);
    font-weight: 400;
    line-height: var(--base-line-height);
    color: var(--heading-h2-color, var(--heading-color));
    line-height: 1.55rem;
}

.markdown-section h3 {
    margin: var(--heading-h3-margin, var(--heading-margin));
    padding: var(--heading-h3-padding, var(--heading-padding));
    border-width: var(--heading-h3-border-width, 0);
    border-style: var(--heading-h3-border-style);
    border-color: var(--heading-h3-border-color);
    font-family: var(--heading-h3-font-family, var(--heading-font-family));
    font-size: var(--heading-h3-font-size);
    font-weight: 400;
    color: var(--heading-h3-color, var(--heading-color));
    line-height: 1.35rem;
}

.markdown-section h4 {
    margin: var(--heading-h4-margin, var(--heading-margin));
    padding: var(--heading-h4-padding, var(--heading-padding));
    border-width: var(--heading-h4-border-width, 0);
    border-style: var(--heading-h4-border-style);
    border-color: var(--heading-h4-border-color);
    font-family: var(--heading-h4-font-family, var(--heading-font-family));
    font-size: var(--heading-h4-font-size);
    font-weight: 400;
    color: var(--heading-h4-color, var(--heading-color));
    line-height: 1.30rem;
}

.markdown-section h5 {
    margin: var(--heading-h5-margin, var(--heading-margin));
    padding: var(--heading-h5-padding, var(--heading-padding));
    border-width: var(--heading-h5-border-width, 0);
    border-style: var(--heading-h5-border-style);
    border-color: var(--heading-h5-border-color);
    font-family: var(--heading-h5-font-family, var(--heading-font-family));
    font-size: var(--heading-h5-font-size);
    font-weight: 400;
    color: var(--heading-h5-color, var(--heading-color));
    line-height: 1.25rem;
}

.markdown-section h6 {
    margin: var(--heading-h6-margin, var(--heading-margin));
    padding: var(--heading-h6-padding, var(--heading-padding));
    border-width: var(--heading-h6-border-width, 0);
    border-style: var(--heading-h6-border-style);
    border-color: var(--heading-h6-border-color);
    font-family: var(--heading-h6-font-family, var(--heading-font-family));
    font-size: var(--heading-h6-font-size);
    font-weight: 400;
    color: var(--heading-h6-color, var(--heading-color));
    line-height: 1.20rem;
}

.markdown-section img {
    max-width: 100%;
}

.markdown-section ul {
    list-style: square inside none;
}

@media(min-width: 48em) {
    .sidebar+.content {
        margin-left: var(--sidebar-width)
    }
}

.sidebar {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
    width: var(--sidebar-width);
    padding: var(--sidebar-padding);
    border-width: var(--sidebar-border-width);
    border-style: solid;
    border-color: var(--sidebar-border-color);
    background: var(--sidebar-background);
}

.sidebar>h1 {
    margin: 0;
    margin: var(--sidebar-name-margin);
    padding: var(--sidebar-name-padding);
    background: var(--sidebar-name-background);
    color: var(--sidebar-name-color);
    font-family: var(--sidebar-name-font-family);
    font-size: var(--sidebar-name-font-size);
    font-weight: var(--sidebar-name-font-weight);
    text-align: var(--sidebar-name-text-align);
}

.sidebar>h1 img {
    max-width: 100%;
}

@media(min-width: 48em) {
    .sidebar {
        visibility: visible;
        position: absolute;
        transform: translateX(var(--sidebar-width))
    }
}

@media print {
    .sidebar {
        display: none
    }
}

.sidebar-nav {
    order: 1;
    margin: var(--sidebar-nav-margin);
    padding: var(--sidebar-nav-padding);
    background: var(--sidebar-nav-background);
}

.sidebar-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav ul ul {
    margin-left: var(--sidebar-nav-indent);
}

.sidebar-nav a {
    display: block;
    margin: var(--sidebar-nav-link-margin);
    padding: var(--sidebar-nav-link-padding);
    border-width: var(--sidebar-nav-link-border-width, 0);
    border-style: var(--sidebar-nav-link-border-style);
    border-color: var(--sidebar-nav-link-border-color);
    border-radius: var(--sidebar-nav-link-border-radius);
    background: var(--sidebar-nav-link-background);
    color: var(--sidebar-nav-link-color);
    font-weight: var(--sidebar-nav-link-font-weight);
    text-decoration: var(--sidebar-nav-link-text-decoration);
    text-decoration-color: var(--sidebar-nav-link-text-decoration-color);
    text-overflow: ellipsis;
    overflow: visible;
    white-space: break-spaces;
}
.sidebar-nav a:hover {
    border-width: var(--sidebar-nav-link-border-width--hover, var(--sidebar-nav-link-border-width, 0));
    border-style: var(--sidebar-nav-link-border-style--hover, var(--sidebar-nav-link-border-style));
    border-color: var(--sidebar-nav-link-border-color--hover, var(--sidebar-nav-link-border-color));
    background: var(--sidebar-nav-link-background--hover, var(--sidebar-nav-link-background));
    color: var(--sidebar-nav-link-color--hover, var(--sidebar-nav-link-color));
    font-weight: var(--sidebar-nav-link-font-weight--hover, var(--sidebar-nav-link-font-weight));
    text-decoration: var(--sidebar-nav-link-text-decoration--hover, var(--sidebar-nav-link-text-decoration));
    text-decoration-color: var(--sidebar-nav-link-text-decoration-color);
}

.sidebar-nav a img {
    margin-top: -0.25em;
    vertical-align: middle;
}
.sidebar-nav a img:first-child {
    margin-right: .5em;
}

.sidebar-nav ul>li>span {
    display: block;
    margin: var(--sidebar-nav-strong-margin);
    padding: var(--sidebar-nav-strong-padding);
    border-width: var(--sidebar-nav-strong-border-width, 0);
    border-style: solid;
    border-color: var(--sidebar-nav-strong-border-color);
    color: var(--sidebar-nav-strong-color);
    font-size: var(--sidebar-nav-strong-font-size);
    font-weight: var(--sidebar-nav-strong-font-weight);
    text-transform: var(--sidebar-nav-strong-text-transform);
}

.sidebar-nav ul>li>span+ul {
    margin-left: 0;
}

.sidebar-nav ul>li:first-child>span,
.sidebar-nav ul>li:first-child>strong {
    margin-top: 0;
}

.sidebar-nav li>a:before {
    display: inline-block;
}

.sidebar-nav li>a {
    background-repeat: var(--sidebar-nav-pagelink-background-repeat);
    background-size: var(--sidebar-nav-pagelink-background-size);
}

.sidebar-nav li>a[href^="/"],
.sidebar-nav li>a[href^="#/"] {
    background: var(--sidebar-nav-pagelink-background);
}

.sidebar-nav li>a[href^="/"],
.sidebar-nav li>a[href^="/"]~ul a,
.sidebar-nav li>a[href^="#/"],
.sidebar-nav li>a[href^="#/"]~ul a {
    padding: var(--sidebar-nav-pagelink-padding, var(--sidebar-nav-link-padding));
}

.sidebar-nav>ul>li>a:before {
    content: var(--sidebar-nav-link-before-content-l1, var(--sidebar-nav-link-before-content));
    margin: var(--sidebar-nav-link-before-margin-l1, var(--sidebar-nav-link-before-margin));
    color: var(--sidebar-nav-link-before-color-l1, var(--sidebar-nav-link-before-color));
}

.sidebar-nav>ul>li>ul>li>a:before {
    content: var(--sidebar-nav-link-before-content-l2, var(--sidebar-nav-link-before-content));
    margin: var(--sidebar-nav-link-before-margin-l2, var(--sidebar-nav-link-before-margin));
    color: var(--sidebar-nav-link-before-color-l2, var(--sidebar-nav-link-before-color));
}

.sidebar-nav>ul>li>ul>li>ul>li>a:before {
    content: var(--sidebar-nav-link-before-content-l3, var(--sidebar-nav-link-before-content));
    margin: var(--sidebar-nav-link-before-margin-l3, var(--sidebar-nav-link-before-margin));
    color: var(--sidebar-nav-link-before-color-l3, var(--sidebar-nav-link-before-color));
}

.sidebar-nav>ul>li>ul>li>ul>li>ul>li>a:before {
    content: var(--sidebar-nav-link-before-content-l4, var(--sidebar-nav-link-before-content));
    margin: var(--sidebar-nav-link-before-margin-l4, var(--sidebar-nav-link-before-margin));
    color: var(--sidebar-nav-link-before-color-l4, var(--sidebar-nav-link-before-color));
}

.sidebar-nav>:last-child {
    margin-bottom: 2rem;
}

@media(min-width: 48em) {
    body.sticky .sidebar {
        position: fixed
    }
}

body .sidebar {
    padding: var(--sidebar-padding);
}
